.search-box {
  -fx-background-color: transparent;
     -fx-border-color: #000000;
     -fx-border-radius: 100;
     -fx-border-width: 2;
     -fx-padding: 10;
}

.transparent{
  -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.rounded-corner{
-fx-background-color: #FFFFFF;
-fx-background-radius: 100;
-fx-padding: 10;
-fx-text-size: 40;
-fx-text-fill: #000000
}

.menu-panel{
-fx-background-color: transparent;
fx-font-size: 40px;
}

.menu-panel:hover {
    -fx-background-color: white;
}