.search-box {
  -fx-background-color: transparent;
     -fx-border-color: #000000;
     -fx-border-radius: 100;
     -fx-border-width: 2;
     -fx-padding: 10;
}

.transparent{
  -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.rounded-corner{
-fx-background-color: #FFFFFF;
-fx-background-radius: 100;
-fx-padding: 10;
-fx-text-size: 20;
-fx-text-fill: #000000
}

.menu-panel{
-fx-background-color: transparent;
-fx-padding: 10;
}

.menu-panel:hover {
    -fx-background-color: white;
    -fx-opacity: 0.4;
    -fx-text-fill: #007bff
}

.my-button-class{
    font-weight: bolder !important;
    color: blue !important;
}

.labels {
-fx-text-fill: #FFFFFF;
}

.ye{
 -fx-text-fill: #FFD700;
}

.fam{
-fx-font-family: "Tahoma";
-fx-font-weight: bold;
-fx-font-size: 40px;
}

.chart{
-fx-font-family: "Tahoma";
-fx-font-weight: bold;
-fx-font-size: 35px;
-fx-text-fill: #000080;
}

.chartText{
-fx-font-family: "Tahoma";
-fx-font-weight: bold;
-fx-font-size: 20px;
}

.chartTextTwo{
-fx-font-family: "Tahoma";
-fx-font-weight: bold;
-fx-font-size: 40px;
}

.chap{
-fx-font-family: "Tahoma";
-fx-font-weight: bold;
-fx-font-size: 35px;
}

.back{
  -fx-background-color: transparent;
  -fx-text-fill: #FFFFFF;
  -fx-font-weight: bold;
}

.we{
  -fx-font-weight: bold;
}