.table-view {
    -fx-background-color: white;
    -fx-border-color: #FFD700;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 18;
}

.button {
    -fx-font-size: 24;
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button-add {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.button-delete {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.jfx-hamburger {
    -fx-background-color: transparent;
}

.jfx-hamburger .burger-icon {
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-background-color: white;
}